body {
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.navbar{
	padding:25px 20px;
	width: 100%;
	height: 30px;
	background: #000000;
}
ul{
	margin: 0;
	list-style: none;
	display: inline;
}
li{
	font-size: 22px;
	font-weight: 500;
	float: left;
	color: #fff;
	margin-right: 50px;
	cursor: pointer;
}
.brand{
	margin-right: 380px;
	margin-left: 20px;
	font-size: 25px;
	color: #00d4ff;
}
li:hover{
	color: #00d4ff;
}
.heading{
	top: 240px;
	color: #00d4ff;
	font-size: 90px;
	font-family: fantasy;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}
.channelbutton{
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 600;
	font-size: 20px;
	border: 1px solid #00d4ff;
	border-radius: 25px;
	transition: 0.5s;
	transition-property: background;
	color: #00d4ff;
}
.channelbutton:hover{
	background: #00d4ff;
	color: #fff;
}

.bottombar{
	position: absolute;
	top: 1000px;
	padding:25px 20px;
	width: 100%;
	height: 30px;
	background: #000000;
}